Let's find a...
<li id="hobby">
  <%= link_to hobby_posts_path, class: "link" do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Hobby Buddy
  <% end %>
</li>

<li id="study ">
  <%= link_to study_posts_path, class: "link" do %>
    <i class="fa fa-graduation-cap link" aria-hidden="true"></i> Study Buddy
  <% end %>
</li>

<li id="team link">
  <%= link_to team_posts_path, class: "link" do %>
    <i class="fa fa-users link" aria-hidden="true"></i> Team Member
  <% end %>
</li>
