.navbar-default,
.navbar-toggle:focus,
.collapsed,
button.navbar-toggle {
    background: $navbarColor;
    border: none;

    a {
        color: #F3EFEA;
    }
}

nav {
    background: $navbarColor;
    color: #F3EFEA;

    .col-sm-5,
    .col-sm-7 {
        padding: 0;
    }

    padding: 10px 10px 10px 25px;
}

nav .link:hover {
    color: #324860
}

nav .link {
    color: #F3EFEA
}

.desktop-menu {
    margin-right: 10px;
    color: #F3EFEA;
}

nav,
.navbar-nav {
    li {
        font-size: 1em;
        padding: 10px;
    }
}

.navbar-brand {
    color: #F3EFEA !important;
    font-size: 2em;
    padding: 0 1em;
}

.mobile-menu {
    color: #F3EFEA;

    ul {
        padding: 0px;
    }

    a {
        display: block;
    }

    a:hover {
        background: #F3EFEA;
        color: #324860;

        i {
            color: #F3EFEA;
        }
    }
}



.active a {
    background: $navbarColor;
    border-bottom: solid 5px #F3EFEA;
}

.dropdown-toggle,
.desktop-menu {
    background: $navbarColor;
    border: none;
}




.navbar-toggler {
    background-color: #F3EFEA;
}