.navbar-default,
.navbar-toggle:focus,
.collapsed,
button.navbar-toggle {
    background: $navbarColor;
    border: none;

    a {
        color: white;
    }
}

nav {
    background: $navbarColor;
    color: white;

    .col-sm-5,
    .col-sm-7 {
        padding: 0;
    }

    padding: 10px 10px 10px 25px !important;

}



.desktop-menu {
    margin-right: 10px;
    color: white;

    li {
        color: white;
    }
}

.navbar-brand {
    color: white !important;
}

.mobile-menu {
    color: white;

    ul {
        padding: 0px;
    }

    a {
        display: block;
    }

    a:hover {
        background: white !important;
        color: black !important;

        i {
            color: black;
        }
    }
}

.sign-in-menu {
    color: white;
}


.active a {
    background: $navbarColor !important;
    border-bottom: solid 5px white;
}

.dropdown-toggle,
.dropdown-menu {
    background: $navbarColor !important;
    border: none;
}


.navbar-toggler {
    background-color: white;
}