.navbar-default,
.navbar-toggle:focus,
.collapsed,
button.navbar-toggle {
    background: $navbarColor;
    border: none;

    a {
        color: #C9A194;
    }
}

nav {
    background: $navbarColor;
    color: #C9A194;

    .col-sm-5,
    .col-sm-7 {
        padding: 0;
    }

    padding: 10px 10px 10px 25px;

}

nav .link:hover {
    color: #2F5D9F
}

.desktop-menu {
    margin-right: 10px;
    color: #C9A194;
}

nav,
.navbar-nav {
    li {
        font-size: 1em;
        padding: 10px;
    }
}

.navbar-brand {
    color: #C9A194 !important;
    font-size: 2em;
    padding: 0 1em;
}

.mobile-menu {
    color: #C9A194;

    ul {
        padding: 0px;
    }

    a {
        display: block;
    }

    a:hover {
        background: #C9A194;
        color: black;

        i {
            color: black;
        }
    }
}



.active a {
    background: $navbarColor;
    border-bottom: solid 5px #C9A194;
}

.dropdown-toggle,
.desktop-menu {
    background: $navbarColor;
    border: none;
}


.navbar-toggler {
    background-color: #C9A194;
}