* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $backgroundColor;
    font-size: 14px;
    font-size: 1.4rem;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

i {
    width: 26px;
}

ul {
    list-style-type: none;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.control-label {
    display: none;
}

#main-content,
.card {
    padding: 5rem;
    background-color: #F3EFEA;
    box-shadow: 10px 29px 74px -9px rgba(0, 0, 0, 0.70);
    overflow: scroll;
}

.card-smaller {
    padding: 1em;
    background-color: #736487;
    box-shadow: 1px 15px 35px -15px rgba(0, 0, 0, 0.70);
    text-align: center;
}

.greeting {
    color: #1C2835
}

.log-in {
    color: #1C2835
}

.login-button,
.sign-up-button {
    background-color: $navbarColor;
    color: #F3EFEA !important;
}