.modal-content {
    text-align: center;

    p {
        margin: 50px 0;
    }

    .posted-by {
        color: #1C2835;
    }

    .loaded-data {
        padding: 0 10px;

        h3,
        p {
            overflow: hidden;
        }

    }
}

.interested {
    text-align: center;
    padding-bottom: 10px;

    a {
        background-color: #889bb6;
        padding: 10px;
        color: #f3efea;
        border-radius: 10px;

        &:hover {
            background-color: #F3EFEA;
            color: #f3efea
        }
    }
}