<div class="container card">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 new-post">
            <h1 class = 'text-center'>Create a new post</h1>
            <%= render 'posts/new/post_form' %>
        </div>
    </div>
</div>