//Bootstrap
@import "bootstrap";
@import "./base/variables.scss";
@import "./base/default.scss";
@import "./partials/layout/navigation.scss";
@import "./partials/layout/signup.scss";
@import "./partials/layout/signup.scss";
@import "./partials/home.scss";
@import "./partials/posts.scss";
// Media queries for a responsive design
@import "./responsive/desktop.scss";
@import "./responsive/mobile.scss";


body {
    margin: 70px 1em 1em 1em;
}

.navbar-default,
.navbar-toggle:focus,
.collapsed,
button.navbar-toggle {
    background: #323738;
    border: none;

    a {
        color: #324860;
    }
}

.link {
    color: #1C2835;

}

.link:hover {
    color: #324860;
}