//Bootstrap
@import "bootstrap";
@import "./partials/layout/navigation.scss";
@import "./partials/layout/signup.scss";

body {
    margin: 50px 1em 1em 1em;
}

.navbar-default,
.navbar-toggle:focus,
.collapsed,
button.navbar-toggle {
    background: #323738;
    border: none;

    a {
        color: white !important;
    }
}