<nav class="navbar navbar-expand-lg navbar-light fixed-top">
<div class = "container">
<div class = "row">
  <div class="col-sm-7">
        <%= render 'layouts/navigation/header' %>
      </div><!-- col-sm-7 -->

      <!-- Elements collapses on smaller devices -->
      <div class="col-sm-5">
        <%= render 'layouts/navigation/collapsible' %>
      </div><!-- col-sm-5 -->
</div>
</div>
</nav>


